*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:#0f0f14;
    color:white;
}

.hero{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url('foto1.jpg') center/cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:3.5em;
}

.hero span{
    color:#c77dff;
}

button{
    margin-top:20px;
    padding:15px 30px;
    border:none;
    border-radius:30px;
    background:#c77dff;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#9d4edd;
    transform:scale(1.05);
}

section{
    padding:80px 10%;
    text-align:center;
}

#contador{
    font-size:1.8em;
    margin-top:20px;
    background:#1a1a22;
    padding:30px;
    border-radius:20px;
}

.timeline{
    max-width:700px;
    margin:auto;
}

.event{
    background:#1a1a22;
    padding:20px;
    margin:20px 0;
    border-left:4px solid #c77dff;
    text-align:left;
    border-radius:10px;
}

.destaque{
    background:#2a1b3d;
}

.galeria .fotos{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.galeria img{
    width:260px;
    margin:15px;
    border-radius:15px;
    transition:0.4s;
}

.galeria img:hover{
    transform:scale(1.08);
}

.carta{
    max-width:700px;
    margin:auto;
    background:#1a1a22;
    padding:40px;
    border-radius:20px;
    line-height:1.8;
    font-size:1.1em;
}

.final{
    padding:60px;
}

.heart{
    position:fixed;
    color:#c77dff;
    animation:subir 5s linear infinite;
    opacity:0.6;
}

@keyframes subir{
    from{transform:translateY(100vh)}
    to{transform:translateY(-10vh)}
}